<header>
  <img src="/assets/Pink_Burger_Icon.svg" alt="Pink Burger Icon" width="300" height="300">
  <h1>Burgers! (Make me happy)</h1>
</header>

<div class="row">
  <div class="col-sm-2"></div>

  <aside class="col-sm-4">
    <h2>Burgers I want to eat!</h2>

    <ul>
      {{#each burgers}}
      {{#if eaten}}
      {{> burgers/burger-block eaten=false}}
      {{/if}}
      {{/each}}
    </ul>
  </aside>

  <article class="col-sm-4">
    <h2>Burgers I have eaten!</h2>

    <ul>
      {{#each burgers}}
      {{#unless eaten}}
      {{> burgers/burger-block eaten=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </article>
  <div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <footer class="col-sm-2">
    <h2>Add a burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">
      </div>

      <div class="form-group">
        <input type="radio" name="eaten" value="1" checked> Eaten!<br>
        <input type="radio" name="eaten" value="0"> Not Eaten
      </div>

      <button type="submit">Add Burger</button>
    </form>
  </footer>
  <div class="col-sm-8"></div>
</div>