header {
  padding: 30px;
  text-align: center;
}

article {
  float: middle;
  padding: 20px;
  width: 30%;
  background-color: #FFFFFF;
}

aside {
  float: left;
  padding: 20px;
  width: 30%;
  background-color: #FFFFFF;
}

footer {
  background-color: #FFFFFF;
  padding: 10px;
  width: 100%;
  text-align: center;
  clear: both;
}

li {
  padding: 5px;
  margin: 5px;
  background: #fad7f3;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
